$background: #1D1E22;
$active-color: #1D70B7;
$img-width: 50px;
$img-height: 50px;

@mixin row-display-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


body {
font-family: 'Krona One', sans-serif;
color: lightgrey;
  background-color: $background;
}

.app {
  margin-top: 5rem;
}


img {
  width: $img-width;
  height: $img-height;
  margin-left: -0.5rem;
}
.row {
  @include row-display-settings;
}

.row li {
  /*display: inline-block;*/
  margin-left: 3rem;
  list-style: none;
} 

.row span:first-child {
  margin-left: -0.8rem;
  font-weight: bold;
  color: #757574;
}
.row span:not(:first-child) {
  margin-left: 0.8rem;
}

.active h4 {
  color: $active-color;
} 